{% extends 'base.html' %}

{% block content %}

<style> 
    .add-container{
        padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 50px;
    
    }
    
    </style>

    {% if page == 'login' %}

    <div class="add-container">

<form method="POST">
{% csrf_token%}

<label>Username: </label>
<input name= "username" type="text" placeholder=" Enter Username"/>

<label>Password: </label>
<input name= "password" type="password" placeholder=" Enter Password"/>

<input type ="submit" value="Login"/>

</form>

<p>Havent Signed up yet?</p>
<a href = "{% url 'register' %}">Sign Up</a>

</div>

{% else %}

<div class="add-container">

    <form method="POST">
    {% csrf_token%}
    {{form.as_p }}
    <input type ="submit" value="Register"/>
    
    </form>

    <p>Already Signed up?</p>
    <a href = "{% url 'login' %}">Log in</a>
    
    </div>

{% endif %}

{% endblock content %}