{% extends 'base.html' %}
{% block content%}

<style>
        .container {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        </style>

    
        <div class='container'>

                <b> <h2>{{title}}</h2></b>

        <p><b>Project ID:</b> {{project.project_id}}</p>
        <p><b>Project Title: </b>{{project.project_title}}</p>
        <p><b>Paas Code: </b>{{project.paas_code}}</p>
        <p><b>Start Code: </b>{{project.start_date}}</p>
        <p><b>End Code: </b>{{project.end_date}}</p>
        <p><b>Donor: </b>{{project.donor}}</p>
        <p><b>Fund: </b>{{project.fund}}</p>
        <p><b>Theme: </b>{{project.theme}}</p>
        <p><b>Lead Org Unit:</b> {{project.lead_org_unit}}</p>
        <p><b>Country:</b> {{project.country}}</p>
        <p><b>Total Expenditure:</b> {{project.total_expenditure}}</p>
        <p><b>Total Contribution:</b> {{project.total_contribution}}</p>
        <p><b>Difference:</b>{{project.total_contribution}} - {{proje.total_contribution}}</p>
        <p><b>Total PSC:</b> {{project.total_psc}}</p>

        {% endblock content %}

        </div>