<html>
    <head></head>
    <body>
        <p><b>Project ID:</b> {{proje.project_id}}</p>
        <p><b>Project Title: </b>{{proje.project_title}}</p>
        <p><b>Paas Code: </b>{{proje.paas_code}}</p>
        <p><b>Start Code: </b>{{proje.start_date}}</p>
        <p><b>End Code: </b>{{proje.end_date}}</p>
        <p><b>Donor: </b>{{proje.end_date}}</p>
        <p><b>Fund: </b>{{proje.end_date}}</p>
        <p><b>Theme: </b>{{proje.end_date}}</p>
        <p><b>Lead Org Unit:</b> {{proje.end_date}}</p>
    </body>
</html>